.eltondiv{
    background-image: url('https://img.vggcdn.net/img/cat/4508/1/37.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display:flex; 
    flex-wrap: wrap;
}
